.new-receita-container {
  background-image: url('../../../assets/stethoscope-pen-blank-prescription-pad-medicine-pharmacy-concept-empty-medical-form-ready-be-used-modern-medical-information-technology.jpg');
  background-size: cover;
  background-position: center;
}
