.new-receita-container {
  background-image: url('../../../assets/team-young-specialist-doctors-standing-corridor-hospital.jpg');
  background-size: cover;
  background-position: center;
  background-color: #4a4a4a;
  background-repeat: no-repeat;
}
