<div class="bg">
  <div class="container">
    <table class="table table-bordered table-rounded">
      <thead class="bg-gray text-black">
        <tr>
          <th *ngFor="let coluna of colunas">{{ coluna.nome }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes" class="bg-light">
          <td *ngFor="let coluna of colunas">{{ paciente[coluna.propriedade] }}</td>
        </tr>
      </tbody>
      <tfoot class="bg-gray">
        <tr>
          <td [attr.colspan]="colunas.length" class="col-12">
            <button class="table-btn" (click)="newPaciente()">Novo Paciente</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
