<div class="modal-header">
  <h4 class="modal-title">Cadastro de Novo Paciente</h4>
  <button type="button" class="close" aria-label="Close" (click)="fechar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="nome">Nome do Paciente:</label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="nome" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="medicamento">Medicamento:</label>
      <input type="text" class="form-control" id="medicamento" [(ngModel)]="medicamento" placeholder="Medicamento">
    </div>
    <div class="form-group">
      <label for="indicacao">Indicação:</label>
      <input type="text" class="form-control" id="indicacao" [(ngModel)]="indicacao" placeholder="Indicação">
    </div>
    <div class="form-group">
      <label for="posologia">Posologia:</label>
      <input type="text" class="form-control" id="posologia" [(ngModel)]="posologia" placeholder="Posologia">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
  <button type="button" class="btn btn-secondary" (click)="fechar()">Fechar</button>
</div>
