.new-paciente-container {
  background-image: url('../../../assets/doctor-holding-hands-with-senior-patient.jpg');
  background-size: cover;
  background-position: center;
  background-color: #4a4a4a;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 70px 20px;
}

@media (max-width: 768px) {
  .new-paciente-container {
    padding: 80px 15px 100px;
    background-attachment: scroll;
  }

  .card {
    width: 100%;
    margin: 0;
  }

  .form-control {
    font-size: 14px;
  }
}
