.cadastro-container {
  background-image: url('../../../assets/team-young-specialist-doctors-standing-corridor-hospital.jpg');
  background-size: cover;
  background-position: center;
}
.card {
  width: 100%;
  max-width: 400px;
}
