.cadastro-container {
  background-image: url('../../../assets/young-female-doctor-with-thumbs-up-gesture-standing-corridor-hospital.jpg');
  background-size: cover;
  background-position: center;
  background-color: #4a4a4a;
  background-repeat: no-repeat;
}
.card {
  width: 100%;
  max-width: 400px;
}
